p {
  padding: 2rem;
}

button {
  padding: 1rem;
  color: #fff;
  border: 0;
  border-radius: 30px;
  padding: 1rem 2rem;
  background: limegreen;
  cursor: pointer;
  font-size: 3rem;
  animation: bg 3.5s infinite ease;
  transition: transform .5s ease;
}

button:hover,
button:active {
  transform: scale(1.1);
}

@keyframes bg {
  0% {
    background: limegreen;
  }

  50% {
    background: fuchsia;
  }

  100% {
    background: limegreen;
  }
}

li {
  padding: .5rem;
}

.odd {
  color: green;
  font-weight: bold;
}
