<div>
  <button (click)="onlyOdd = !onlyOdd">Only show {{ onlyOdd ? 'even' : 'odd' }} numbers</button>
  <ul>
    <li *ngFor="let number of numbers">
      <span
        [ngClass]="{ odd: number % 2 !== 0 }"
        [ngStyle]="{ color: number % 2 === 0 ? 'forestgreen' : 'lightpink' }"
        *ngIf="onlyOdd ? number % 2 !== 0 : number % 2 === 0"
      >
        {{ number }}
      </span>
    </li>
  </ul>
  <p appBasicHighlight>style me with basic directive</p>
  <p appBetterHighlight>style me with better directive</p>
  <p appHoverHighlight>style me with hover directive</p>
  <p appBetterHover>style me with better hover directive</p>
  <p appDynamicHover>style me with dynamic hover directive and default values</p>
  <p appDynamicHover [defaultColor]="'fuchsia'" [highlightColor]="'greenyellow'">style me with dynamic hover directive and given values</p>
  <!-- shortcut -->
  <p appDynamicHover defaultColor="greenyellow" highlightColor="fuchsia">style me with dynamic hover directive and given values</p>
  <!-- Structural directives manipulate DOM and start with *. Why * is required?
       Why does Angular need to know that it's a structural directive?
       Behind the scenes Angular will transform them into something else. -->
  <!-- This is what the * transforms to: -->
  <p>Even numbers (using appUnless directive):</p>
  <ul>
    <li *ngFor="let number of numbers">
      <ng-template [appUnless]="number % 2 !== 0">
        <span>
          {{ number }}
        </span>
      </ng-template>
    </li>
  </ul>
  <button (click)="switchValue = switchValue === 'default' ? 'not-default' : 'default'">Toggle Switch Value</button>
  <p>ngSwitch:</p>
  <div [ngSwitch]="switchValue">
    <p *ngSwitchCase="'default'">Value is default</p>
    <p *ngSwitchCase="'not-default'">Value is not default</p>
  </div>
</div>
