p {
  padding: 2rem;
}

button {
  padding: 1rem;
  border: 0;
  color: #fff;
  background: fuchsia;
  cursor: pointer;
  font-size: 3rem;
  transition: transform .5s ease;
}

button:hover,
button:focus {
  transform: scale(1.1);
}

.odd {
  color: green;
  font-weight: bold;
}
