<div>
  <button (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
  <ul>
    <li *ngFor="let number of numbers">
      <span *ngIf="number % 2 === 0">{{ number }}</span>
    </li>
  </ul>
  <ul>
    <li *ngFor="let number of numbers">
      <span
        [ngClass]="{ odd: number % 2 !== 0 }"
        [ngStyle]="{ background: number % 2 === 0 ? 'red' : 'blue' }"
        *ngIf="onlyOdd ? number % 2 !== 0 : true"
      >
        {{ number }}
      </span>
    </li>
  </ul>
  <p appBasicHighlight>style me with basic directive</p>
  <p appBetterHighlight>style me with better directive</p>
  <p appHoverHighlight>style me with hover directive</p>
  <p appBetterHover>style me with better hover directive</p>
</div>
